<!-- <ion-content fullscreen>
  
  <ion-grid>
    <ion-row>
    <ion-col col-12 col-sm-12 color="red">
      <ion-card (click)="openDoctorlist()">
      
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
    <ion-row>
      
      <ion-col col-12 col-sm-12>
        <ion-card (click)="openDoctorChart()">
          
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>
     
    </ion-row>
  </ion-grid>
</ion-content> -->
<ion-content fullscreen>
  

  <ion-grid>

    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12" >
       
        <ion-card >
          <ion-text  >
            <p>Hello william<br>How can we Take care <br>of yourself</p>
          </ion-text>
        </ion-card>
        
      </ion-col>

        <ion-col *ngFor="let option of options" size="6" size-sm="6" size-md="12" class="select-cards"> 
          <ion-card  style="margin: 0;" color="secondary">
          
            <ion-card-header>
              
            </ion-card-header>
            
            <ion-card-content style="padding-top: 0%;">
              <ion-row justify-content-center style="height: 100%;margin-top:0%">
                <img [src]="option.icon" />
              </ion-row>

               <ion-row class="center-horizontally" style="margin-top:5%">
                {{option.label}}
               </ion-row>
             
              
            </ion-card-content>
          
          </ion-card>
          
        </ion-col>

       </ion-row>
      <ion-row style="margin-top: 50px;padding-top: 50px;">
        <ion-col>
          <ion-card style="margin-top: 1px;">
            <ion-text><h4>Top News</h4></ion-text>
          </ion-card>
        </ion-col>
        <ion-col >
          <ion-card >
            <ion-text>view all</ion-text>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-slides class="image-slider">
      <ion-slide>

      </ion-slide>
    </ion-slides>
 
</ion-content> 